Repository GustavoDago/DHCinema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_job, frontend_job, test_job_back, test_job_front

.gitlab-ci.yml:

stages:          # List of stages for jobs, and their order of execution
  - build
  - test

backend_job:       # This job runs in the build stage, which runs first.
  stage: build
  image: maven:latest
  script:
    - cd cine-back/
    - mvn clean package install
  artifacts:
    paths: 
    - cine-back/target/PI-BackEnd-0.0.1-SNAPSHOT.jar
  rules: 
    - changes:
      - cine-back/**/*

frontend_job:
  stage: build
  image: node:16.16.0
  script:
    - cd cine-front/
    - npm install
    - npm run build
  artifacts:
    name: react_dhcinema_build
    paths: 
    - cine-front/build
  rules: 
    - changes: 
      - cine-front/**/*

test_job_back:
  stage: test
  image: maven:latest
  script:
    - cd cine-back/
    - mvn test
  rules: 
    - changes: 
      - cine-back/**/*

test_job_front: 
  stage: test
  image: node:16.16.0
  script:
    - cd cine-front/
    - npm install
    - npm test
  rules: 
    - changes: 
      - cine-front/**/*

Cambios Perfil
  cine-front/src/index.css
Due: frontend_job, test_job_front

cambios a crearCategorias
  cine-front/src/index.css
Due: frontend_job, test_job_front

Cambios MediaQuery
  cine-front/src/index.css
Due: frontend_job, test_job_front

agregar checkbox copiador de datos
  cine-front/src/index.css
  cine-front/src/routes/Reserva.jsx
Due: frontend_job, test_job_front

ListadoPeliculas responsive
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Deleted cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

Update cine-back/src/main/resources/application.properties
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

subo cambios en puntaje y reservas backend
  cine-back/src/main/java/com/example/PIBackEnd/controller/PuntajeController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Puntaje.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Reserva.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/FavoritoDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/PuntajeDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PuntajeService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
  cine-back/src/main/resources/application.properties
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

Responsive del panel movil
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/ListadoCategorias.jsx
  cine-front/src/components/ListadoCiudades.jsx
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

estilos responsive
  cine-front/src/components/ListadoCategoriasSeleccionar.jsx
  cine-front/src/components/ListadoPeliculasRadioButton.jsx
  cine-front/src/components/Nueva-categoria.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

agregado a reservas backend
  cine-back/src/main/java/com/example/PIBackEnd/domain/Reserva.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
Due: backend_job, test_job_back

Listado de favoritos, listado reserva
  cine-front/public/icons/new-favorite.svg
  cine-front/public/icons/unfavorite.svg
  cine-front/src/components/Accordion.jsx
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/components/GlobalModal.jsx
  cine-front/src/components/Item.jsx
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/components/Nuevo-favorito.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/Favorites.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/Reserva.jsx
  cine-front/src/routes/ReservasCuenta.jsx
Due: frontend_job, test_job_front

estilos corregidos
  cine-front/src/components/AsignarCategoria.jsx
  cine-front/src/components/ListadoCategorias.jsx
  cine-front/src/components/ListadoCategoriasSeleccionar.jsx
  cine-front/src/components/Nueva-ciudad.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

Header acomodado y comienzo de menu hambur
  cine-front/src/components/Header.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

agregado a reservas back
  cine-back/src/main/java/com/example/PIBackEnd/controller/ReservaController.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/ReservaDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
Due: backend_job, test_job_back

cambios a favoritos backend
  cine-back/src/main/java/com/example/PIBackEnd/controller/FavoritoController.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/FavoritoDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FavoritoService.java
Due: backend_job, test_job_back

DropDown de Menu
  cine-front/src/components/Header.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

estilos tablet terminados
  cine-front/src/components/ListadoCiudades.jsx
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

crearCategoria corregido
  cine-front/src/index.css
Due: frontend_job, test_job_front

cambio a mobile -cargarPelicula
  cine-front/src/index.css
Due: frontend_job, test_job_front

Mayoria de vistas responsives, reserva y favoritos completo, nueva cartelera
  cine-front/src/components/Accordion.jsx
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/BloquePoliticas.jsx
  cine-front/src/components/CompartirProducto.jsx
  cine-front/src/components/Footer.jsx
  cine-front/src/components/Header.jsx
  cine-front/src/components/ReserveSection.jsx
  cine-front/src/components/ShowMore/ItemShowMore.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/Categories.jsx
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/Reserva.jsx
  cine-front/src/routes/ReservasCuenta.jsx
Due: frontend_job, test_job_front

Mejoro header para ser responsive
  cine-front/src/components/Header.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

mail de confirmacion al realizar reserva
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
Due: backend_job, test_job_back

Cambios
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/components/Header.jsx
  cine-front/src/components/ShowMore/ItemShowMore.jsx
  cine-front/src/index.css
  cine-front/src/routes/Favorites.jsx
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

cambio favoritos back
  cine-back/src/main/java/com/example/PIBackEnd/domain/Favorito.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/FavoritoDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FavoritoService.java
Due: backend_job, test_job_back

Resuelvo conflictos con el back
  cine-back/src/main/java/com/example/PIBackEnd/domain/Favorito.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FavoritoService.java
  cine-front/src/components/Header.jsx
  cine-front/src/components/Nuevo-favorito.jsx
  cine-front/src/routes/Favorites.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

Agrego nueva rama
  cine-front/package-lock.json
  cine-front/package.json
Due: frontend_job, test_job_front

Arreglo header
  cine-front/src/components/Header.jsx
Due: frontend_job, test_job_front

.
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

pipeline final
  .gitlab-ci.yml
Due: none

Corrigo problemas, subo politicas y actualizar politicas
  cine-back/src/main/java/com/example/PIBackEnd/controller/ReservaController.java
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/Header.jsx
  cine-front/src/components/ListarPoliticas.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/Reserva.jsx
  cine-front/src/routes/ReservasCuenta.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

subo butacas y cambios para adaptabilidad de butacas en BackEnd
  cine-back/src/main/java/com/example/PIBackEnd/controller/ButacaController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/ReservaController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Butaca.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Funcion.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Reserva.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/ButacaDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IButacaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ButacaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FuncionService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PoliticaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/SalaService.java
Due: backend_job, test_job_back

elimino test xq rompe deploy
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

cambio nombre de Home pq rompe deploy
  cine-front/src/routes/Home.jsx
Due: frontend_job, test_job_front

Subo archivo con URL dela pagina
  Infra/urlPagina.txt
Due: none

se agregan archivos compilados
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/equipo-9.iml
  .idea/jarRepositories.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/workspace.xml
Due: none
