Repository GustavoDago/DHCinema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_job, frontend_job, test_job_back, test_job_front

backend_job:
  stage: build
  image: maven:latest
  script:
  - cd cine-back/
  - mvn clean package install
  artifacts:
    paths:
    - cine-back/target/PI-BackEnd-0.0.1-SNAPSHOT.jar

frontend_job:
  stage: build
  image: node:16.16.0
  script:
  - cd cine-front/
  - npm install
  - npm run build
  artifacts:
    name: react_dhcinema_build
    paths:
    - cine-front/build

test_job_back:
  stage: test
  image: maven:latest
  script:
  - cd cine-back/
  - mvn test

test_job_front:
  stage: test
  image: node:16.16.0
  script:
  - cd cine-front/
  - npm install
  - npm test

actualizo bbdd RDS
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

hecho ciudades
  cine-back/src/main/resources/dataPeliculasCompleto.sql
  cine-front/package-lock.json
  cine-front/src/components/DetalleCiudad.jsx
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/ListadoCiudades.jsx
  cine-front/src/components/Nueva-ciudad.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

subo buscador nuevo de backend
  cine-back/src/main/java/com/example/PIBackEnd/controller/FuncionController.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FuncionService.java
  cine-back/src/main/resources/application.properties
  cine-back/src/main/resources/dataPeliculasCompleto.sql
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

agrego un nuevo buscador al backend
  cine-back/src/main/java/com/example/PIBackEnd/controller/CineController.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
Due: backend_job, test_job_back

asignar rol listo
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

subo favoritos completo y cambios a buscador
  cine-back/src/main/java/com/example/PIBackEnd/controller/CineController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/FavoritoController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Favorito.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/FavoritoDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IFavoritoRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FavoritoService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FuncionService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PeliculaService.java
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

ajustes de mensajes en ciudades y asignar rol
  cine-front/package-lock.json
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/DetalleCiudad.jsx
  cine-front/src/components/ListadoCiudades.jsx
  cine-front/src/components/Nueva-ciudad.jsx
Due: frontend_job, test_job_front

Share de producto y estilos del mismo
  cine-front/package-lock.json
  cine-front/package.json
  cine-front/src/components/CompartirProducto.jsx
  cine-front/src/components/Footer.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

borro test vacio xq falla build
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

bloque de Politicas terminado
  cine-front/src/components/BloquePoliticas.jsx
  cine-front/src/index.css
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

correccion menor al movieDetails.jsx
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

actualizo bbdd a remota
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

Finalizo la seccion busqueda y reseña
  cine-front/package-lock.json
  cine-front/package.json
  cine-front/public/icons/favorite.svg
  cine-front/public/icons/no-favorite.svg
  cine-front/public/icons/send.svg
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/ReserveSection.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/ShowMore.jsx
  cine-front/src/routes/SignIn.jsx
Due: frontend_job, test_job_front

Definicion de CSS de Share
  cine-back/src/main/resources/application.properties
  cine-front/src/components/CompartirPeli.jsx
  cine-front/src/components/CompartirProducto.jsx
  cine-front/src/index.css
Due: backend_job, frontend_job, test_job_back, test_job_front

Cambio Aplication Properties
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

Mergeo con buscador y reserva
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

Resuelvo problema de merge
  cine-front/src/components/AsignarRol.jsx
Due: frontend_job, test_job_front

subo cambio buscador backend
  cine-back/src/main/java/com/example/PIBackEnd/controller/CineController.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
  cine-back/src/main/resources/application.properties
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

Subo cambios de vistas y reseñas
  cine-back/src/main/java/com/example/PIBackEnd/controller/CineController.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
  cine-front/src/components/AsignarCategoria.jsx
  cine-front/src/components/ListadoCategoriasSeleccionar.jsx
  cine-front/src/components/ListadoPeliculasRadioButton.jsx
  cine-front/src/components/Nueva-categoria.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/routes/MovieDetails.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

subo cambio a puntajes
  cine-back/src/main/java/com/example/PIBackEnd/domain/Puntaje.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PuntajeService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
Due: backend_job, test_job_back

Cambio la fecha y el ranking
  cine-front/package-lock.json
  cine-front/package.json
  cine-front/src/index.css
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

anadirFavs casi listo/ listarFavs en proceso
  cine-back/src/main/java/com/example/PIBackEnd/dtos/FavoritoDTO.java
  cine-front/src/components/Item.jsx
  cine-front/src/components/Nuevo-favorito.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

subo eliminar categorias y cambios generales
  cine-back/src/main/java/com/example/PIBackEnd/controller/CategoriaController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Categoria.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/ICategoriaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IPeliculaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CategoriaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FuncionService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
Due: backend_job, test_job_back

Cambios de css y cambios de modal
  cine-front/package-lock.json
  cine-front/package.json
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/CompartirProducto.jsx
  cine-front/src/components/Footer.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

favoritos casi terminado
  cine-front/src/components/Nuevo-favorito.jsx
  cine-front/src/routes/Favorites.jsx
Due: frontend_job, test_job_front

subo cambios backend
  cine-back/src/main/java/com/example/PIBackEnd/controller/FavoritoController.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IFavoritoRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FavoritoService.java
Due: backend_job, test_job_back

politicas modificables, reservas completo y mas detalles
  cine-back/src/main/java/com/example/PIBackEnd/controller/PeliculaController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/ReservaController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Cine.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Politica.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Reserva.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/CineDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/ReservaDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IPeliculaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IReservaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PeliculaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
Due: backend_job, test_job_back

agregado a cines y codigo acomodado
  cine-back/src/main/java/com/example/PIBackEnd/controller/CineController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/FuncionController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/PeliculaController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/PuntajeController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/UsuarioController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Pelicula.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/FavoritoDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/dtos/PuntajeDTO.java
  cine-back/src/main/java/com/example/PIBackEnd/exceptions/CategoriaExistenteException.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/ICategoriaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IImagenRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IPeliculaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IPuntajeRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IReservaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/ISalaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IUsuarioRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CategoriaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CiudadService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/EmailService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FavoritoService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FuncionService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PeliculaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PuntajeService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/RolService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/SalaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
Due: backend_job, test_job_back

Nueva vista de reserva funcionando y modificaciones en movie details
  cine-front/public/icons/actors.svg
  cine-front/public/icons/close-accordion.svg
  cine-front/public/icons/dni-form.svg
  cine-front/public/icons/email-form.svg
  cine-front/public/icons/hide-password.svg
  cine-front/public/icons/open-accordion.svg
  cine-front/public/icons/password-form.svg
  cine-front/public/icons/show-password.svg
  cine-front/public/icons/star.svg
  cine-front/public/icons/user-form.svg
  cine-front/src/components/Accordion.jsx
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/MovieDetails/ActorsCard.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/Register.jsx
  cine-front/src/routes/Reserva.jsx
Due: frontend_job, test_job_front

Cambios Css panel y ajustamiento del mismo
  cine-front/src/components/ListadoCategorias.jsx
  cine-front/src/components/Nueva-ciudad.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

borrar categoría
  cine-front/package-lock.json
  cine-front/src/components/ListadoCategorias.jsx
  cine-front/src/components/ListadoCiudades.jsx
Due: frontend_job, test_job_front

anadir favoritos terminado
  cine-back/src/main/java/com/example/PIBackEnd/controller/FavoritoController.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IFavoritoRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FavoritoService.java
  cine-front/src/components/Nuevo-favorito.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

empiezo listarFavoritos
  cine-front/src/components/Header.jsx
  cine-front/src/routes/Favorites.jsx
Due: frontend_job, test_job_front

agregado a cine back
  cine-back/src/main/java/com/example/PIBackEnd/controller/CineController.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/ICineRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

mejoro el metodo agregado
  cine-back/src/main/java/com/example/PIBackEnd/repository/ICineRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CineService.java
Due: backend_job, test_job_back

Correcciones estéticas más la ruta de favoritos
  cine-front/src/components/AdministrationPanel/singleImageDrop.jsx
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/CompartirPeli.jsx
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/Header.jsx
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/components/home/Billboard.jsx
  cine-front/src/main.jsx
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/Register.jsx
  cine-front/src/routes/Reserva.jsx
  cine-front/src/routes/SignIn.jsx
Due: frontend_job, test_job_front

Cambios ortográficos
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/Header.jsx
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/Register.jsx
  cine-front/src/routes/SearchMovies.jsx
Due: frontend_job, test_job_front

Cambios en acentos
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/Header.jsx
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

Cambio de la paginacion, unificacion de paginacion y categorias y solucion de errores
  cine-front/src/components/Accordion.jsx
  cine-front/src/components/BloquePoliticas.jsx
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/ShowMore.jsx
Due: frontend_job, test_job_front

Path conditions:
  backend_job: any of: cine-back/**/*
  frontend_job: any of: cine-front/**/*
  test_job_back: any of: cine-back/**/*
  test_job_front: any of: cine-front/**/*
