Repository GustavoDago/DHCinema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_job, frontend_job, test_job_back, test_job_front

backend_job:
  stage: build
  image: maven:latest
  script:
  - cd cine-back/
  - mvn clean package install
  artifacts:
    paths:
    - cine-back/target/PI-BackEnd-0.0.1-SNAPSHOT.jar

frontend_job:
  stage: build
  image: node:16.16.0
  script:
  - cd cine-front/
  - npm install
  - npm run build
  artifacts:
    name: react_dhcinema_build
    paths:
    - cine-front/build

test_job_back:
  stage: test
  image: maven:latest
  script:
  - cd cine-back/
  - mvn test

test_job_front:
  stage: test
  image: node:16.16.0
  script:
  - cd cine-front/
  - npm install
  - npm test

perfilDropdown
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/PerfilDropDown.jsx
Due: frontend_job, test_job_front

Agrego muchas funciones y vistas
  cine-front/public/icons/close-black.svg
  cine-front/public/icons/free_icon_1 (14).svg
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/Header.jsx
  cine-front/src/components/Item.jsx
  cine-front/src/components/ListadoPeliculas.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/components/home/Billboard.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/Categories.jsx
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

Hago los cambios necesarios al back
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
Due: backend_job, test_job_back

Soluciono merge
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/index.css
  cine-front/src/routes/AdministrationPanel.jsx
Due: frontend_job, test_job_front

Subo lo echo antes del sprint
  cine-front/public/icons/show_more.svg
  cine-front/src/index.css
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/ShowMore.jsx
  cine-front/src/routes/SignIn.jsx
Due: frontend_job, test_job_front

Pusheo cambios back
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
Due: backend_job, test_job_back

Resolviendo problema con application.properties que no pushea
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

Subo archivos faltantes
  cine-front/src/components/footer.jsx
  cine-front/src/components/header.jsx
  cine-front/src/components/home/billboard.jsx
  cine-front/src/components/home/recommended.jsx
  cine-front/src/components/item.jsx
  cine-front/src/routes/home.jsx
Due: frontend_job, test_job_front

Elimino archivo conflictivo
  cine-front/src/routes/Home.jsx
Due: frontend_job, test_job_front

Delete footer.jsx
  cine-front/src/components/footer.jsx
Due: frontend_job, test_job_front

Delete header.jsx
  cine-front/src/components/header.jsx
Due: frontend_job, test_job_front

Delete item.jsx
  cine-front/src/components/item.jsx
Due: frontend_job, test_job_front

Delete categorie.jsx
  cine-front/src/components/utils/categorie.jsx
Due: frontend_job, test_job_front

Delete recommended.jsx
  cine-front/src/components/home/recommended.jsx
Due: frontend_job, test_job_front

Delete billboard.jsx
  cine-front/src/components/home/billboard.jsx
Due: frontend_job, test_job_front

Cambios en header
  cine-front/src/index.css
Due: frontend_job, test_job_front

Actualizo dataPeliculasCompleto.sql con roles y usuario Admin
  cine-back/src/main/resources/dataPeliculasCompleto.sql
Due: backend_job, test_job_back

Implementacion de google maps
  cine-front/index.html
  cine-front/package-lock.json
  cine-front/package.json
  cine-front/public/icons/DH Cinema-logos_black.png
  cine-front/public/icons/dhcinema2-logo-tiny.png
  cine-front/src/components/CerrarSesion.jsx
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/components/GlobalModal.jsx
  cine-front/src/components/utils/citysOptions.json
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/SearchMovies.jsx
  cine-front/src/routes/ShowMore.jsx
  cine-front/src/routes/SignOut.jsx
Due: frontend_job, test_job_front

Modificaciones en buscador peliculas
  cine-front/src/components/utils/citysOptions.json
  cine-front/src/index.css
  cine-front/src/routes/ShowMore.jsx
Due: frontend_job, test_job_front

formulario Crear Categoria corregido
  cine-front/src/components/Nueva-categoria.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

Boton de perfil con Iniciales
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

correccion error en css
  cine-front/src/index.css
Due: frontend_job, test_job_front

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Cambios en los cards de cartelera
  cine-front/public/icons/information.svg
  cine-front/public/icons/ticket.svg
  cine-front/public/icons/youtube.svg
  cine-front/src/components/ShowMore/ItemShowMore.jsx
  cine-front/src/components/utils/categories.json
  cine-front/src/components/utils/data.json
  cine-front/src/index.css
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/ShowMore.jsx
Due: frontend_job, test_job_front

bloque de politicas creado y estilos corregidos
  cine-front/src/components/BloquePoliticas.jsx
  cine-front/src/components/ListadoCategoriasSeleccionar.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

Cambios en estilo
  cine-front/public/icons/youtube-2.svg
  cine-front/public/icons/youtube-3.svg
  cine-front/src/components/ShowMore/ItemShowMore.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

Agrego funcion de reservas en detalles
  cine-front/src/components/MovieDetails/FirstReserve.jsx
  cine-front/src/components/ShowMore/ItemShowMore.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

Termino seccion de asignacion de roles
  cine-front/src/components/Accordion.jsx
  cine-front/src/components/AsignarRol.jsx
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/MovieDetails/FirstReserve.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/AdministrationPanel.jsx
Due: frontend_job, test_job_front

Resuelvo conflicto con merge
  cine-front/src/routes/ShowMore.jsx
Due: frontend_job, test_job_front

Arreglo problemas restantes del merge
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
Due: frontend_job, test_job_front

aplico estilos a Nueva-categoria y corrijo acentos Subo data.sql nueva
  cine-back/src/main/resources/DataCinemaCompleta.sql
  cine-back/src/main/resources/application.properties
  cine-front/package-lock.json
  cine-front/src/codigoATexto.cjs
  cine-front/src/codigo_src.txt
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/Nueva-categoria.jsx
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/Categories.jsx
  cine-front/src/routes/PerfilDropDown.jsx
  cine-front/src/routes/SearchMovies.jsx
  cine-front/src/routes/ShowMore.jsx
  cine-front/src/routes/SignIn.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

subo backend Sprint3 terminado y listo para testear
  cine-back/src/main/java/com/example/PIBackEnd/controller/FuncionController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/RolController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Reserva.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Rol.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Usuario.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IFuncionRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IReservaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IRolRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IUsuarioRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FuncionService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PeliculaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/ReservaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/RolService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
  cine-back/src/main/resources/DataCinemaCompleta.sql
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

subo cambios endpoint remoto
  cine-front/src/components/AsignarCategoria.jsx
  cine-front/src/components/ListadoCategoriasSeleccionar.jsx
  cine-front/src/components/ListadoPeliculasRadioButton.jsx
  cine-front/src/components/Nueva-categoria.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/routes/ConfirmAccount.jsx
Due: frontend_job, test_job_front

prueba despliegue
  .gitlab-ci.yml
Due: none

borro test vacio xq rompe deploy
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

update app.properties para conexion con la base de RDS
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

Path conditions:
  backend_job: any of: cine-back/**/*
  frontend_job: any of: cine-front/**/*
  test_job_back: any of: cine-back/**/*
  test_job_front: any of: cine-front/**/*
