Repository GustavoDago/DHCinema: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend_job, frontend_job, test_job_back, test_job_front

.gitlab-ci.yml:

stages:          # List of stages for jobs, and their order of execution
  - build
  - test

backend_job:       # This job runs in the build stage, which runs first.
  stage: build
  image: maven:latest
  script:
    - cd cine-back/
    - mvn clean package install
  artifacts:
    paths: 
    - cine-back/target/PI-BackEnd-0.0.1-SNAPSHOT.jar
  rules: 
    - changes:
      - cine-back/**/*

frontend_job:
  stage: build
  image: node:16.16.0
  script:
    - cd cine-front/
    - npm install
    - npm run build
  artifacts:
    name: react_dhcinema_build
    paths: 
    - cine-front/build
  rules: 
    - changes: 
      - cine-front/**/*

test_job_back:
  stage: test
  image: maven:latest
  script:
    - cd cine-back/
    - mvn test
  rules: 
    - changes: 
      - cine-back/**/*

test_job_front: 
  stage: test
  image: node:16.16.0
  script:
    - cd cine-front/
    - npm install
    - npm test
  rules: 
    - changes: 
      - cine-front/**/*

actualización application.properties para que se ejecute data.sql al prender el back
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

Modificacion de validacion del email en front y back
  cine-front/package-lock.json
  cine-front/package.json
  cine-front/public/icons/accept.svg
  cine-front/public/icons/denied.svg
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/ConfirmAccount.jsx
  cine-front/src/routes/Register.jsx
  cine-front/src/routes/SignIn.jsx
  cine-front/src/routes/home.jsx
Due: frontend_job, test_job_front

subo back casi terminado
  cine-back/src/main/java/com/example/PIBackEnd/controller/CategoriaController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/PeliculaController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/RolController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/UsuarioController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Caracteristica.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Categoria.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Imagen.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Pelicula.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/ICategoriaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IFechaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IImagenRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IPeliculaRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IRolRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/repository/IUsuarioRepository.java
  cine-back/src/main/java/com/example/PIBackEnd/security/CustomUsersDetailsService.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/CategoriaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/FechaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PeliculaService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/RolService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

Login, registro y validacion funcionando
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/ConfirmAccount.jsx
  cine-front/src/routes/Register.jsx
  cine-front/src/routes/SignIn.jsx
Due: frontend_job, test_job_front

subo pipeline final rama main
  .gitlab-ci.yml
Due: none

Hago los cambios necesarios al back
  cine-back/pom.xml
  cine-back/src/main/java/com/example/PIBackEnd/controller/UsuarioController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Usuario.java
  cine-back/src/main/java/com/example/PIBackEnd/security/ConstantesSeguridad.java
  cine-back/src/main/java/com/example/PIBackEnd/security/JwtUtil.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/EmailService.java
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

borro test vacio xq falla el build
  cine-back/src/test/java/com/example/PIBackEnd/PiBackEndApplicationTests.java
Due: backend_job, test_job_back

Cambios Css y panel de admin
  cine-back/src/main/java/com/example/PIBackEnd/controller/CategoriaController.java
  cine-back/src/main/java/com/example/PIBackEnd/controller/PeliculaController.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Rol.java
  cine-back/src/main/java/com/example/PIBackEnd/domain/Usuario.java
  cine-back/src/main/resources/application.properties
  cine-front/src/components/GestionAdmin.jsx
  cine-front/src/components/Nueva-categoria.jsx
  cine-front/src/index.css
  cine-front/src/routes/ShowMore.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

comento test de front xq no funciona
  .gitlab-ci.yml
Due: none

comento test de front pq no funciona
  .gitlab-ci.yml
Due: none

Cambio largo de opcionesIdioma a 40
  cine-back/src/main/java/com/example/PIBackEnd/domain/Caracteristica.java
Due: backend_job, test_job_back

Adapto el front con el back
  cine-front/src/components/home/Billboard.jsx
  cine-front/src/components/home/Recommended.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/ShowMore.jsx
Due: frontend_job, test_job_front

Pusheo ultimas modificaciones
  cine-back/src/main/java/com/example/PIBackEnd/controller/PeliculaController.java
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
  cine-back/src/main/java/com/example/PIBackEnd/service/PeliculaService.java
Due: backend_job, test_job_back

Subo context
  cine-front/src/App.css
  cine-front/src/App.jsx
  cine-front/src/components/Global.context.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/SignIn.jsx
Due: frontend_job, test_job_front

Cambio cosas de la base
  cine-back/src/main/java/com/example/PIBackEnd/controller/UsuarioController.java
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

vista de cierre de sesion terminada //sin css
  cine-front/src/components/CerrarSesion.jsx
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/index.css
  cine-front/src/main.jsx
  cine-front/src/routes/SignIn.jsx
  cine-front/src/routes/SignOut.jsx
Due: frontend_job, test_job_front

saco detalle del dropdown
  cine-front/src/components/DropdownProfile.jsx
Due: frontend_job, test_job_front

Agrego la posibilidad de ver el rol en el front
  cine-front/src/App.jsx
  cine-front/src/components/Global.context.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/routes/Home.jsx
  cine-front/src/routes/MovieDetails.jsx
  cine-front/src/routes/SignIn.jsx
Due: frontend_job, test_job_front

Historia 19 funcional
  cine-front/src/App.css
  cine-front/src/components/ItemCartelera.jsx
  cine-front/src/components/home/Billboard.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

subo historia 16, bloque de caracteristicas de cada pelicula
  cine-front/package-lock.json
  cine-front/package.json
  cine-front/src/index.css
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

Arreglo un par de conflictos
  cine-front/src/components/CerrarSesion.jsx
  cine-front/src/components/DropdownProfile.jsx
  cine-front/src/components/UseFetch.jsx
  cine-front/src/index.css
  cine-front/src/routes/AdministrationPanel.jsx
  cine-front/src/routes/MovieDetails.jsx
Due: frontend_job, test_job_front

pequeños ajustes visuales en cartelera
  cine-front/package-lock.json
  cine-front/src/components/ItemCartelera.jsx
  cine-front/src/index.css
Due: frontend_job, test_job_front

trabajo en vista detalles
  cine-back/src/main/resources/data.sql
  cine-front/src/index.css
  cine-front/src/routes/MovieDetails.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

Envío datos sql a resources
  cine-back/src/main/resources/dataPeliculasCompleto.sql
Due: backend_job, test_job_back

cambio properties con la bbdd de DH armada
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

subo carpeta build para deploy
  cine-front/build/archivodeprueba.txt
Due: frontend_job, test_job_front

actualizo path de salida para build
  cine-front/build/archivodeprueba.txt
  cine-front/build/assets/fondo-registro-affab104.jpg
  cine-front/build/assets/index-a7afcbae.css
  cine-front/build/assets/index-fca26bb3.js
  cine-front/build/banner-admin.jpg
  cine-front/build/banner-guardianes.jpg
  cine-front/build/categories/accion.jpg
  cine-front/build/categories/aventura.jpg
  cine-front/build/fondo-registro.jpg
  cine-front/build/icons/DH Cinema-logos_black.png
  cine-front/build/icons/accept.svg
  cine-front/build/icons/account-icon.svg
  cine-front/build/icons/adelante.svg
  cine-front/build/icons/atras.svg
  cine-front/build/icons/close.svg
  cine-front/build/icons/cloud.svg
  cine-front/build/icons/delete.svg
  cine-front/build/icons/denied.svg
  cine-front/build/icons/dhcinema2-logo.png
  cine-front/build/icons/drag-drop.svg
  cine-front/build/icons/empty.svg
  cine-front/build/icons/facebook.png
  cine-front/build/icons/file-extension.svg
  cine-front/build/icons/instagram.png
  cine-front/build/icons/jpg-extension.svg
  cine-front/build/icons/linkedin-in.png
  cine-front/build/icons/play_icon.svg
  cine-front/build/icons/png-extension.svg
  cine-front/build/icons/search.svg
  cine-front/build/icons/show.svg
  cine-front/build/icons/twitter.png
  cine-front/build/index.html
  cine-front/build/play-button.png
  cine-front/build/vite.svg
  cine-front/package.json
Due: frontend_job, test_job_front

agrego linea de Driver
  cine-back/package-lock.json
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

dropDownPerfil
  cine-back/src/main/java/com/example/PIBackEnd/service/UsuarioService.java
  cine-back/src/main/resources/application.properties
  cine-front/src/components/DropdownProfile.jsx
Due: backend_job, frontend_job, test_job_back, test_job_front

prueba deploy back
  cine-back/src/main/java/com/example/PIBackEnd/controller/PeliculaController.java
Due: backend_job, test_job_back

subo cambios deploy back
  cine-back/src/main/java/com/example/PIBackEnd/controller/PeliculaController.java
Due: backend_job, test_job_back

cambio properties para bd de rds
  cine-back/src/main/resources/application.properties
Due: backend_job, test_job_back

configuracion .cors
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
Due: backend_job, test_job_back

configuracion .cors con direccion del s3
  cine-back/src/main/java/com/example/PIBackEnd/security/SecurityConfig.java
Due: backend_job, test_job_back
